<%- include('../partials/head') %>
<%- include('../partials/header') %>


<form action="http://localhost:3000/game/add" method="post">
    Name: <input type="text" name="name" />
    Match Duration: <input type="text" name="duration" />
    Team Size: <input type="text" name="team_size" />
   <button class="btn btn-primary">Add Game</button></a>
</form>

<%- include('../partials/footer') %>