<%- include('../partials/head') %>
<%- include('../partials/header') %>

<div class="container">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><% player.player %> </h5>
                    UserName: <input type="text" name="name" />
                    <div>
                    Email: <input type="text" name="email"/>
                    </div>
                    <div>
                        <a href="/player/"><button type="button" class="btn btn-outline-secondary" id="back">back</button></a>
                    
                        <form action="http://localhost:3000/player/delete/<%= player.player_id %>" method="post">
                            <button type="submit">delete player</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</div>

<%- include('../partials/footer') %>